h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list{
    background-color: rgb(73, 167, 255);
    border-radius:  6px;
    padding-left:20px;
    padding-bottom: 5px;
    
}
img{
    padding-top: 15px;
    padding-right: 15px;
    width: 60px;
    float:left
}
h2{
    color: black;
    padding-top: 20px;
    font-family: sans-serif;
    margin-bottom: 0%;
}
.year{
    color: rgb(73, 73, 73);
}
a{
    text-decoration: none;
}
p{
    color: black;
    font-family: sans-serif;
    margin-top: 0.5%;

}