<h1>SpaceX Mission Details</h1>
<div class="details">
    <img src={{missionlist.links.mission_patch_small}} alt="space launch patch">
    <h2>Mission - {{missionlist.mission_name}}</h2>
    <p>Name: {{missionlist.mission_name}}</p>
    <p>Launch Year: {{missionlist.launch_year}}</p>


    <h2>Rocket</h2>
    <p>Name: {{missionlist.rocket.rocket_name}}</p>
    <p>Type: {{missionlist.rocket.rocket_type}}</p>

    <h2>Launch Site</h2>
    <p>Name: {{missionlist.launch_site.site_name_long}}</p>

    <h2 class="f1">Launch Details</h2>
    <p>Name: {{missionlist.details}}</p>

    <h2 class="f2">More Info on Launch Details</h2>
</div>


